*
{
    margin: 0;
    padding: 0;
    outline: 0;
}

select
{
    padding: 1px;
}

/*a, a:visited
{
    cursor: pointer;
    text-decoration: none;

}*/

.strong
{
    font-weight: bold;
}

/*a:hover
{
    text-decoration: underline;
}

img
{
    border: none;
}
*/
.clear, .clean
{
    clear: both;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

ol, ul, li
{
    list-style: none;
}

.clearfix:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix
{
    display: inline-block;
}

* html .clearfix
{
    height: 1%;
}

.clearfix
{
    display: block;
}

.hidden
{
    display: none;
    height: 0 !important;
    width: 0 !important;
}

#skypedetectionswf
{
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    top: -1000px !important;
}
/*
table
{
    border-collapse: collapse;
}
*/
.nobg
{
    background: none !important;
}

.noUnderline, .noUnderline:hover
{
    text-decoration: none;
}


.margin-left-0
{
    margin-left: 0 !important;
}

.tay
{
    cursor: pointer !important;
}





.facebook_like_buttons
{
    display: block;
    height: 25px;
    margin: 0 auto 10px 0;
    overflow: hidden;
}

.def .facebook_like_buttons
{
    margin-left: 27px;
}

#gridPhotoAlbums .facebook_like_buttons
{
}

#gridAlbums .facebook_like_buttons,


.highslide-caption .facebook_like_buttons
{
    margin: 0;
    padding: 10px 0;
}

.highslide-caption .fb-like
{
    height: 25px;
    overflow: hidden;
}

.photo-viewer-image
{
    text-align: center;
    height: 100%;
    float: left;
    position: relative;
    background: none black;
    border: #ffffff 1px solid;
    border: rgba(255, 255, 255, .1) 1px solid;
    -webkit-box-sizing: border-box;
}

    .photo-viewer-image:before
    {
        content: "";
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
    }

    .photo-viewer-image img
    {
        display: inline-block;
        height: auto;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

    .photo-viewer-image .btnNext
    {
        background: url(next_button_hover.png) 98% center no-repeat;
        width: 90%;
        position: absolute;
        right: 0;
        top: 0;
        /*display: none;*/
        height: 100%;
    }

    .photo-viewer-image .btnPrev
    {
        background: url(prev_button_hover.png) 8px center no-repeat;
        /*display: none;*/
        left: 0;
        position: absolute;
        top: 0;
        width: 10%;
        height: 100%;
    }

.fancybox-caption
{
    display: none;
}

.mediaTitleInfo
{
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    color: #B3B3B3;
    font-size: 13px;
    position: absolute;
    padding: 0;
    width: 100%;
    margin: 0;
    height: 33px;
    line-height: 33px;
    text-align: left;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: padding-box;
}

    .mediaTitleInfo span:first-child
    {
        margin-left: 8px;
    }

    .mediaTitleInfo a
    {
        padding: 3px 5px;
        color: white;
        font-weight: bold;
        margin-right: 5px;
    }

        .mediaTitleInfo a:hover
        {
            background-color: #ffffff;
            background-color: rgba(255, 255, 255, .2);
            border-color: transparent;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -khtml-border-radius: 2px;
            -webkit-border-radius: 2px;
            opacity: 1;
            text-decoration: none;
        }


    .mediaTitleInfo .photo_count
    {
        padding-right: 5px;
    }
